#
# Shorewall -- /etc/shorewall/interfaces
#
# For information about entries in this file, type "man shorewall-interfaces"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-interfaces.html
#
?FORMAT 2
###############################################################################
#ZONE		INTERFACE		OPTIONS
{% if shorewall_interfaces_host is defined %}
{% for interface in shorewall_interfaces_host %}
{{ interface.zone }}	{{ interface.ifname }}	{{ interface.options }}
{% endfor %}
{% elif shorewall_interfaces_group is defined %}
{% for interface in shorewall_interfaces_group %}
{{ interface.zone }}	{{ interface.ifname }}	{{ interface.options }}
{% endfor %}
{% endif %}
