#
# Shorewall -- /etc/shorewall/providers
#
# For information about entries in this file, type "man shorewall-providers"
#
# For additional information, see http://shorewall.net/MultiISP.html
#
############################################################################################
#NAME	NUMBER	MARK	DUPLICATE	INTERFACE	GATEWAY		OPTIONS		COPY
{% for provider in firewall_providers %}
{{ provider.name }}	{{ provider.id }}	{{ provider.mark | default('-') }}	{{ provider.duplicate | default('-') }}	{{ provider.ifname }}	{{ provider.gw | default('-') }}	{{ provider.options | default('-') }} {{ provider.cpy | default('-') }}
{% endfor %}
