#
# Shorewall -- /etc/shorewall/rtrules
#
# For information about entries in this file, type "man shorewall-rtrules"
#
# For additional information, see http://www.shorewall.net/MultiISP.html
#
####################################################################################
#SOURCE			DEST			PROVIDER	PRIORITY	MASK
{% for rule in firewall_routerules %}
{{ rule.srcip | default('0.0.0.0/0') }}	{{ rule.destip | default('0.0.0.0/0') }}	{{ rule.provider | default('1') }}	{{ rule.priority }}
{% endfor %}
