#
# Shorewall -- /etc/shorewall/snat
#
# For information about entries in this file, type "man shorewall-snat"
#
# See http://shorewall.net/manpages/shorewall-snat.html for more information
#
###########################################################################################################################################
#ACTION			SOURCE			DEST		PROTO	PORT	IPSEC	MARK	USER	SWITCH	ORIGDEST	PROBABILITY
{% if shorewall_snat_host is defined %}
{% for snat in shorewall_snat_host %}
{{ snat.action }}	{{ snat.source }}	{{ snat.dest }}
{% endfor %}
{% elif shorewall_snat_group is defined %}
{% for snat in shorewall_snat_group %}
{{ snat.action }}	{{ snat.source }}	{{ snat.dest }}
{% endfor %}
{% endif %}
