# See /usr/share/postfix/main.cf.dist for a commented, more complete version


# Debian specific:  Specifying a file name will cause the first
# line of that file to be used as the name.  The Debian default
# is /etc/mailname.
myorigin = {{ mail_origin }}

smtpd_banner = {{ mail_banner }}

biff = {{ mail_biff }}

# appending .domain is the MUA's job.
append_dot_mydomain = {{ mail_append_dot_domain }}

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

readme_directory = no

{% if mail_use_tls is defined and mail_use_tls %}
# TLS parameters
smtpd_tls_cert_file={{ mail_tls_cert_file }}
smtpd_tls_key_file={{ mail_tls_key_file }}
smtpd_use_tls={{ mail_use_tls }}
smtpd_tls_session_cache_database={{ maild_tls_session_cache_database }}
smtp_tls_session_cache_database={{ mail_tls_session_cache_database }}

# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.

{% endif %}
smtp_host_lookup = native
smtpd_recipient_restrictions = {{ mail_recipient_restrictions | join( ' ' ) }}
smtpd_relay_restrictions = {{ mail_relay_restrictions | join( ' ' ) }}
myhostname = {{ mail_hostname }}
alias_maps = {{ mail_alias_maps }}
alias_database = {{ mail_alias_database }}
mydestination = {{ mail_mydestination }}
{% if mail_relayhost is defined %}
relayhost = {{ mail_relayhost }}
{% endif %}
mynetworks = {{ mail_mynetworks | join( ' ' ) }}
{% if mail_mailbox_command is defined %}
mailbox_command = {{ mail_mailbox_command }}
{% endif %}
mailbox_size_limit = {{ mail_mailbox_size_limit }}
recipient_delimiter = {{ mail_recipient_delimiter }}
{% if mail_inet_interfaces is defined %}
inet_interfaces = {{ mail_inet_interfaces }}
{% endif %}
{% if mail_transport_maps is defined %}
transport_maps = {{ mail_transport_maps }}
{% endif %}
{% if mail_relay_domains is defined %}
relay_domains = {{ mail_relay_domains | join( ', ' ) }}
{% endif %}
{% if mail_relay_recipient_maps is defined %}
relay_recipient_maps = {{ mail_relay_recipient_maps }}
{% endif %}

