
myorigin = {{ mail_origin }}

smtpd_banner = {{ mail_banner }}

biff = {{ mail_biff }}

# appending .domain is the MUA's job.
append_dot_mydomain = {{ mail_append_dot_domain }}

readme_directory = {{ mail_readme_directory }}

{% if mail_use_tls is defined and mail_use_tls %}
# TLS parameters
smtpd_tls_cert_file={{ mail_tls_cert_file }}
smtpd_tls_key_file={{ mail_tls_key_file }}
smtpd_use_tls={{ mail_use_tls }}
smtpd_tls_session_cache_database={{ maild_tls_session_cache_database }}
smtp_tls_session_cache_database={{ mail_tls_session_cache_database }}

{% endif %}
smtp_dns_support_level = {{ mail_pf_dns_support_level }}
smtp_host_lookup = {{ mail_pf_host_lookup }}
smtpd_recipient_restrictions = {{ mail_recipient_restrictions | join( ' ' ) }}
smtpd_relay_restrictions = {{ mail_relay_restrictions | join( ' ' ) }}
myhostname = {{ mail_hostname }}
{% if mail_alias_maps %}
alias_maps = {{ mail_alias_maps }}
{% endif %}
{% if mail_alias_database is defined %}
alias_database = {{ mail_alias_database }}
{% endif %}
mydestination = {{ mail_destinations | join( ' ' ) }}
{% if mail_relay_host is defined %}
relayhost = {{ mail_relay_host }}
{% if mail_relay_creds is defined %}
smtp_use_tls = {{ mail_relay_creds.tls }}
smtp_sasl_auth_enable = yes
smtp_sasl_security_options = noanonymous
smtp_tls_security_level = encrypt
smtp_sasl_password_maps = hash:{{ mail_relay_creds_path }}
{% endif %}
{% endif %}
mynetworks = {{ mail_mynetworks | join( ' ' ) }}
{% if mail_mailbox_command is defined %}
mailbox_command = {{ mail_mailbox_command }}
{% endif %}
mailbox_size_limit = {{ mail_mailbox_size_limit }}
recipient_delimiter = {{ mail_recipient_delimiter }}
{% if mail_inet_interfaces is defined %}
inet_interfaces = {{ mail_inet_interfaces }}
{% endif %}
{% if mail_transport_maps is defined %}
transport_maps = {{ mail_transport_maps }}
{% endif %}
{% if mail_relay_domains is defined %}
relay_domains = {{ mail_relay_domains | join( ', ' ) }}
{% endif %}
{% if mail_relay_recipient_maps is defined %}
relay_recipient_maps = {{ mail_relay_recipient_maps }}
{% endif %}
{% if mail_pf_header_checks is defined %}
header_checks = regexp:{{ mail_pf_header_checks_path }}
{% endif %}

# FIXME
queue_directory = /var/spool/postfix
meta_directory = {{ mail_sys_prefix }}/libexec/postfix
setgid_group = maildrop
command_directory = {{ mail_sys_prefix }}/sbin
sample_directory = {{ mail_sys_prefix }}/etc/postfix
newaliases_path = {{ mail_sys_prefix }}/bin/newaliases
mailq_path = {{ mail_sys_prefix }}/bin/mailq
sendmail_path = {{ mail_sys_prefix }}/sbin/sendmail
mail_owner = postfix
daemon_directory = {{ mail_sys_prefix }}/libexec/postfix
manpage_directory = {{ mail_sys_prefix }}/man
html_directory = {{ mail_sys_prefix }}/share/doc/postfix
data_directory = /var/db/postfix
shlib_directory = {{ mail_sys_prefix }}/lib/postfix
inet_protocols = ipv4

compatibility_level = 2

