[General]
autoConfig=false
autoConfigPrompted=false
autoHide=true
cryptoEnabled=false
elevateMode=false
elevateModeEnum=0
groupClientChecked=false
groupServerChecked=true
interface=
language=en
logFilename={{ kvm_log_path }}
logLevel=3
logToFile=false
minimizeToTray=true
port={{ kvm_listen_port }}
screenName=circuits
startedBefore=true
wizardLastRun=9

[internalConfig]
enableDragAndDrop=true
hasHeartbeat=false
hasSwitchDelay=false
hasSwitchDoubleTap=false
heartbeat=5000
hotkeys\size=0
ignoreAutoConfigClient=false
numColumns=5
numRows=3
relativeMouseMoves=false
screenSaverSync=true
screens\1\name=
screens\10\name=
screens\11\name=
screens\12\name=
screens\13\name=
screens\14\name=
screens\15\name=
screens\2\aliasArray\size=0
screens\2\fixArray\1\fix=false
screens\2\fixArray\2\fix=false
screens\2\fixArray\3\fix=false
screens\2\fixArray\4\fix=false
screens\2\fixArray\size=4
screens\2\modifierArray\1\modifier=0
screens\2\modifierArray\2\modifier=1
screens\2\modifierArray\3\modifier=2
screens\2\modifierArray\4\modifier=3
screens\2\modifierArray\5\modifier=4
screens\2\modifierArray\6\modifier=5
screens\2\modifierArray\size=6
screens\2\name=balkan
screens\2\switchCornerArray\1\switchCorner=false
screens\2\switchCornerArray\2\switchCorner=false
screens\2\switchCornerArray\3\switchCorner=false
screens\2\switchCornerArray\4\switchCorner=false
screens\2\switchCornerArray\size=4
screens\2\switchCornerSize=0
screens\3\aliasArray\size=0
screens\3\fixArray\1\fix=false
screens\3\fixArray\2\fix=false
screens\3\fixArray\3\fix=false
screens\3\fixArray\4\fix=false
screens\3\fixArray\size=4
screens\3\modifierArray\1\modifier=0
screens\3\modifierArray\2\modifier=1
screens\3\modifierArray\3\modifier=2
screens\3\modifierArray\4\modifier=3
screens\3\modifierArray\5\modifier=4
screens\3\modifierArray\6\modifier=5
screens\3\modifierArray\size=6
screens\3\name=circuits
screens\3\switchCornerArray\1\switchCorner=false
screens\3\switchCornerArray\2\switchCorner=false
screens\3\switchCornerArray\3\switchCorner=false
screens\3\switchCornerArray\4\switchCorner=false
screens\3\switchCornerArray\size=4
screens\3\switchCornerSize=0
screens\4\aliasArray\size=0
screens\4\fixArray\1\fix=false
screens\4\fixArray\2\fix=false
screens\4\fixArray\3\fix=false
screens\4\fixArray\4\fix=false
screens\4\fixArray\size=4
screens\4\modifierArray\1\modifier=0
screens\4\modifierArray\2\modifier=1
screens\4\modifierArray\3\modifier=2
screens\4\modifierArray\4\modifier=3
screens\4\modifierArray\5\modifier=4
screens\4\modifierArray\6\modifier=5
screens\4\modifierArray\size=6
screens\4\name=black-cat
screens\4\switchCornerArray\1\switchCorner=false
screens\4\switchCornerArray\2\switchCorner=false
screens\4\switchCornerArray\3\switchCorner=false
screens\4\switchCornerArray\4\switchCorner=false
screens\4\switchCornerArray\size=4
screens\4\switchCornerSize=0
screens\5\aliasArray\size=0
screens\5\fixArray\1\fix=false
screens\5\fixArray\2\fix=false
screens\5\fixArray\3\fix=false
screens\5\fixArray\4\fix=false
screens\5\fixArray\size=4
screens\5\modifierArray\1\modifier=0
screens\5\modifierArray\2\modifier=1
screens\5\modifierArray\3\modifier=2
screens\5\modifierArray\4\modifier=3
screens\5\modifierArray\5\modifier=4
screens\5\modifierArray\6\modifier=5
screens\5\modifierArray\size=6
screens\5\name=TAG003073
screens\5\switchCornerArray\1\switchCorner=false
screens\5\switchCornerArray\2\switchCorner=false
screens\5\switchCornerArray\3\switchCorner=false
screens\5\switchCornerArray\4\switchCorner=false
screens\5\switchCornerArray\size=4
screens\5\switchCornerSize=0
screens\6\name=
screens\7\name=
screens\8\name=
screens\9\name=
screens\size=15
switchCornerArray\1\switchCorner=false
switchCornerArray\2\switchCorner=false
switchCornerArray\3\switchCorner=false
switchCornerArray\4\switchCorner=false
switchCornerArray\size=4
switchCornerSize=0
switchDelay=250
switchDoubleTap=250
win32KeepForeground=false

