
{% include 'auto_template.j2' %}
{% import 'apache-util.conf.j2' as util %}
{% if site.port is defined %}
Listen {{ site.ip + ':' if site.ip is defined else '' }}{{ site.port }} {{ 'https' if site.ssl is defined else 'http' }}

{% endif %}
{% if site.ssl is defined %}
<VirtualHost {{ site.ip | default('*') }}:{{ site.port | default('443') }}>
{% else %}
<VirtualHost {{ site.ip | default('*') }}:{{ site.port | default('80') }}>
{% endif %}
	ServerAdmin {{ site.server_admin | default(webvhost_server_admin) }}
	ServerName {{ site.server_name | default(inventory_hostname) }}
{% if site.document_root is defined %}
	DocumentRoot {{ site.document_root }}

{% endif %}
{% if site.ssl is defined %}
	SSLEngine on
{% if site.ssl == 'acme' %}
	SSLCertificateFile {{ webvhost_le_dirs.config }}/live/{{ site.server_name | default(inventory_hostname) }}/fullchain.pem
	SSLCertificateKeyFile {{ webvhost_le_dirs.config }}/live/{{ site.server_name | default(inventory_hostname) }}/privkey.pem
	#Include {{ webvhost_le_dirs.config }}/options-ssl-apache.conf
{% else %}
	SSLCertificateFile {{ webvhost_ssl_path }}/{{ site.server_name | default(inventory_hostname) }}.crt
	SSLCertificateChainFile {{ webvhost_ssl_path }}/{{ site.server_name | default(inventory_hostname) }}.ca.crt
	SSLCertificateKeyFile {{ webvhost_ssl_path }}/{{ site.server_name | default(inventory_hostname) }}.pem
{% endif %}
{% if site.ssl.stapling is defined and site.ssl.stapling %}
	SSLUseStapling on
	SSLStaplingResponderTimeout {{ site.ssl.stapling_timeout | default(5) }}
	SSLStaplingReturnResponderErrors {{ site.ssl.stapling_return_errors | default('off') }}
{% endif %}
{% if site.proxy_ssl is defined and site.proxy_ssl %}
	SSLProxyEngine on
	SSLProxyVerify none
	SSLProxyCheckPeerCN off
	SSLProxyCheckPeerName off
{% endif %}

{% endif %}
{% if site.redirects is defined %}
{% for redirect in site.redirects %}
	Redirect {{ redirect.type }} {{ redirect.src }} {{ redirect.dest }}
{% endfor %}

{% endif %}
{{ util.rewrite( site ) }}{% if site.locations is defined %}
{% for location in site.locations %}
{% include 'apache-location.conf.j2' %}

{% endfor %}
{% endif %}
</VirtualHost>

