  location {{ location.web_path }} {{ '{' }}
{% if location.redirects is defined %}
{% for redirect in location.redirects %}
    rewrite {{ redirect.src }} {{ redirect.dest }} {{ redirect.type }};
{% endfor %}

{% endif %}
{% if location.local_path is defined %}
{# Using alias here so that web_path doesn't get included. This brings the
   resulting behavior more in line with other web servers, making it easier
   to maintain portability in this role. #}
    alias {{ location.local_path }};

{% endif %}
{% if location.proxy_url is defined %}
    proxy_set_header    X-Real-IP  $remote_addr;
    proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header    Host $http_host;
    proxy_redirect      off;
    proxy_pass          {{ location.proxy_url }};
{% endif %}
{% if location.rewrites is defined %}
{% for rewrite in location.rewrites %}
{% for rule in rewrite.rules %}
    rewrite {{ rule.url }} {{ rule.dest }};
{% endfor %}
{% endfor %}
{% endif %}
  {{ '}' }}

