server {{ '{' }}
{% if site.ssl is defined %}
  listen {{ site.port | default('443') }};
{% else %}
  listen {{ site.port | default('80') }};
{% endif %}
  server_name {{ site.server_name | default(inventory_hostname) }};

{% if site.ssl is defined %}
  ssl on;
{% if site.ssl == 'acme' %}
  ssl_certificate {{ webvhost_le_dirs.config }}/live/{{ site.server_name }}/fullchain.pem;
  ssl_certificate_key {{ webvhost_le_dirs.config }}/live/{{ site.server_name }}/privkey.pem;
{% else %}
  ssl_certificate {{ webvhost_ssl_path }}/{{ site.server_name | default(inventory_hostname) }}.crt;
  ssl_certificate_key {{ webvhost_ssl_path }}/{{ site.server_name | default(inventory_hostname) }}.key;
{% endif %}
  ssl_session_cache shared:SSL:1m;
  ssl_session_timeout 5m;

{% endif %}
{% if site.locations is defined %}
{% for location in site.locations %}
{% include 'nginx-location.conf.j2' %}

{% endfor %}
{% endif %}
{% if site.redirects is defined %}
{% for redirect in site.redirects %}
  rewrite {{ redirect.src }} {{ redirect.dest }} {{ redirect.type }};
{% endfor %}

{% endif %}
{{ '}' }}

