
{% include 'auto_template.j2' %}

events {{ '{' }}
  worker_connections  {{ webvhost_nginx_worker_connections }};
{{ '}' }}

http {{ '{' }}

{% for site in webvhost_sites %}
{% if not site.enabled is defined or site.enabled %}
{% if not site.ssl is defined or do_ssl %}
{% include 'nginx-server.conf.j2' %}

{% endif %}
{% endif %}
{% endfor %}

{{ '}' }}

